.Parameters {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.Parameters .Body {
  z-index: 100;
  padding: .75rem;
  overflow-x: auto;
}

.Parameters table {
  position: relative;
  z-index: 0;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
  border-collapse: collapse;
}

.Parameters th,
.Parameters td {
  border-collapse: collapse;
}

.Parameters th {
  height: 2rem;
  padding: .25rem;
  font-size: 14px;
}

.Parameters th:first-child,
.Parameters th:last-child {
  width: 2rem;
}

.Parameters td {
  outline: none;
  padding: 0;
}

.Parameters td:first-child {
  padding: .125rem;
  width: 2.125rem;
}

.Parameters input {
  border: none;
  outline: none;
  text-align: left;
  width: 100%;
  padding: .5rem .75rem;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
}

.Parameters input:disabled {
  cursor: not-allowed;
}

.Parameters .Trash {
  color: #a5a5a5 !important;
  width: 100% !important;
  height: 100% !important;
  padding: .25rem !important;
  border: none !important;
  font-size: 1rem !important;
}

.Parameters .Trash:hover {
  transition: all .1s ease !important;
  color: #f92510 !important;
}

.Parameters h4 {
  text-align: left;
}

.Parameters .Check {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 1.5rem;
  text-align: center;
  border: 1px solid transparent;
  padding: .25rem;
  font-size: 12px;
}

.Parameters button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .Parameters input {
    padding: .25rem .125rem;
  }
  
  .Parameters .Body {
    padding: .5rem;
  }
}

@media (max-width: 340px) {
  .Parameters table {
    display: inline-block;
  }
}