.Header {
  font-size: 1.75rem;
  padding: .625rem 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Header .Logo,
.Header .Logo img {
  height: 2.5rem;
}

.Header .Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 50%;
}

.Header .Links {
  list-style: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.Header .Links .Link {
  margin-left: .5rem;
  width: 5rem;
  height: 2.25rem;
}

.Header .Links button {
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: transparent;
  box-sizing: border-box;
  display: block;
}

.Header .Links button:hover {
  transition: all .15s ease;
}

@media only screen and  (max-width: 991.98px) {
  .Header .Container {
    width: 85%;
  }
}

@media only screen and  (max-width: 767.98px) {
  .Header {
    font-size: 1.25rem;
    margin-bottom: .75rem;
    box-shadow: 0 4px 4px rgba(60, 60, 60, .2);
  }
  
  .Header .Links .Link {
    font-size: 14px;
    height: 2rem;
    width: 4rem;
  }
  
  .Header .Links button {
    font-size: 14px;
  }
  
  .Header .Container {
    width: 90%;
  }
}

@media only screen and (max-width: 575.98px) {
  .Header {
    font-size: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px 1px rgba(60, 60, 60, .2);
    width: 100%;
  }
  
  .Header .Links .Link {
    height: 2rem;
    width: 4rem;
  }
  
  .Header .Links button {
    font-size: 12px;
    padding: 0;
  }
  
  .Header .Container {
    width: 95%;
  }
  
  .Header .Logo,
  .Header .Logo img {
    height: 2rem;
  }
}
