.Header {
  /*background-color: #f2f2f2;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem;
  height: 3.5rem;
  box-sizing: border-box;
}

@media (max-width: 575.98px) {
  .Header {
    height: 2.5rem;
    padding: .5rem;
  }
  
  .Header h4 {
    font-size: 14px;
  }
  
  .Header .Plus {
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .Header .Plus:hover {
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: inset 0 1px 2px rgba(66, 66, 66, .4);
  }
}