.Response {
  font-family: "Courier", sans-serif;
  margin: 0;
}

.Response .Key {
  color: #01579b;
}

.Response .String {
  color: #a34200;
  word-break: break-word;
}

.Response .Boolean {
  color: #7b1fa2;
}

.Response .Number {
  color: #388e3c;
}

.Response .Null {
  color: #f57c00;
}

.Response li {
  text-align: left;
  margin: .25rem;
  padding: .25rem;
}

.Response li::marker {
  font-size: .75rem;
}

.Response .Item {
  display: flex;
  flex-direction: row;
}

.Success {
  color: forestgreen;
}

.Fail {
  color: firebrick;
}

h6 {
  margin-left: 1rem;
}

@media only screen and (max-width: 767.98px) {
  .Response {
    padding-left: 1.75rem;
  }
  
  .Response .Item {
    display: block;
  }
  
  li {
    font-size: 14px;
  }
  
  li::marker {
    font-size: 12px;
  }
  
  .Preview {
    font-size: 14px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 575.98px) {
  .Response {
    padding-left: 1.625rem;
  }
  
  .Response .Item {
    display: block;
  }
  
  li {
    font-size: 12px;
  }
  
  li::marker {
    font-size: 10px;
  }
  
  .Preview {
    font-size: 12px;
    line-height: 20px;
  }
}