.Settings {
  text-align: center;
  width: 50%;
  margin: auto;
}

.Settings label {
  margin-right: 1rem;
}

.Settings .Indent input {
  outline: none;
  caret-color: #757575;
  padding: .5rem .25rem;
}

.Settings .Theme {
  display: flex;
  align-items: center;
}

.Settings .Theme button {
  cursor: pointer;
  outline: none;
  padding: .5rem .25rem;
  width: 4rem;
}

.Settings .Row {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}

.Settings .Body {
  text-align: left;
  padding: .75rem;
  display: grid;
  grid-row-gap: 1.5rem;
  grid-template-columns: minmax(0, 1fr);
}

.Settings input,
.Settings select {
  width: 4rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 14px;
  border: 1px solid #dfdfdf;
  text-transform: capitalize;
  outline: none;
}

.Settings input:focus,
.Settings select:focus {
  border-color: #a5a5a5;
}

@media only screen and (max-width: 991.98px) {
  .Settings {
    width: 85%;
  }
}

@media only screen and (max-width: 767.98px) {
  .Settings {
    width: 90%;
  }
}

@media only screen and (max-width: 575.98px) {
  .Settings {
    width: 95%;
  }
}