.AddressBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    color: #424242;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    padding: .5rem;
    box-sizing: border-box;
}

.AddressBar select,
.AddressBar select:focus {
    cursor: pointer;
    border: 1px solid #dfdfdf;
    outline: none;
    height: 100%;
    padding: 0 .5rem;
    text-align: center;
    margin-right: .5rem;
}

.AddressBar input {
    outline: #283593;
    height: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    padding: 0 .25rem;
    width: 100%;
}

.AddressBar input:focus {
    transition: all .1s ease-out;
    background-color: #fafafa;
}

.AddressBar button {
    cursor: pointer;
    outline: #283593;
    height: 100%;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    padding: 0 .75rem;
    background-color: #ffffff;
    text-transform: uppercase;
    margin-left: .5rem;
}

.AddressBar button:hover,
.AddressBar select:hover {
    transition: all .15s ease-out;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgba(66, 66, 66, .5);
}

@media only screen and (max-width: 800px) {
    .AddressBar {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .AddressBar {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .AddressBar {
        width: 95%;
        margin: .5rem auto;
    }
}


