.AddressBar {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*height: 3.5rem;*/
  /*color: #424242;*/
  /*border: 1px solid #dfdfdf;*/
  /*padding: .5rem;*/
  /*box-sizing: border-box;*/
  /*box-shadow: 0 4px 8px rgba(60,60,60,.2);*/
}

.AddressBar select {
  cursor: pointer;
  outline: none;
  height: 100%;
  padding: 0 .5rem;
  text-align: center;
  margin-right: .5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

.AddressBar select:focus {
  outline: none;
}

.AddressBar input {
  outline: none;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  padding: 0 .25rem;
  width: 100%;
}

.AddressBar button {
  cursor: pointer;
  outline: none;
  color: #43a047;
  height: 100%;
  border: 1px solid #43a047;
  box-sizing: border-box;
  padding: 0 .75rem;
  background-color: transparent;
  text-transform: uppercase;
  margin-left: .5rem;
}


.AddressBar button:active {
  box-shadow: inset 0 2px 4px rgba(66, 66, 66, .4);
}

.AddressBar select:hover,
.AddressBar button:hover {
  transition: all .15s ease;
}

@media only screen and (max-width: 575.98px) {
  .AddressBar select,
  .AddressBar input {
    margin-bottom: .5rem;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  .AddressBar button {
    margin: 0;
    width: 100%;
  }
  
  .AddressBar select,
  .AddressBar input,
  .AddressBar button {
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .AddressBar button:hover {
    border: 1px solid transparent;
    box-shadow: inset 0 1px 2px rgba(66, 66, 66, .4);
  }
}


