.Status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Status h6 {
  margin-left: 1rem !important;
}

.Status .Green {
  color: #388e3c;
}

.Status .Teal {
  color: #80cbc4;
}

.Status .Red {
  color: #c62828;
}

.Status .Orange {
  color: #f57c00;
}

.Status .Yellow {
  color: #ffeb3b;
}

@media only screen and (max-width: 575.98px) {
  .Header {
    height: 2.5rem;
    padding: .5rem;
  }
  
  .Header h4 {
    font-size: 14px;
  }
  
  .Header .Status {
    font-size: 12px;
  }
  
  .Header .Status h6 {
    margin-left: .5rem !important;
  }
}