.Status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Status h6 {
  margin-left: 1rem;
}

.Status .Green {
  color: #388e3c;
}

.Status .Teal {
  color: #80cbc4;
}

.Status .Red {
  color: #c62828;
}

.Status .Orange {
  color: #f57c00;
}

.Status .Yellow {
  color: #ffeb3b;
}

@media only screen and (max-width: 575.98px) {
  .Status h6 {
    margin-left: .5rem;
  }
}