.Tabs {
  list-style: none;
  display: flex;
  padding: .375rem .75rem 0 .75rem;
  font-size: 14px;
  margin: 0;
}

.Tabs li {
  cursor: pointer;
  position: relative;
  padding: .25rem .5rem;
  width: 4rem;
  height: 2rem;
  box-sizing: border-box;
  text-align: center;
  transform: translateY(+.1875rem);
  text-transform: capitalize;
}

.Tabs li:hover {
  transition: all .05s ease;
  transform: translateY(0) !important;
}

.Tabs li.Active {
  /*cursor: default;*/
  /*transform: translateY(0) !important;*/
}

.Tabs li.Active::after {
  /*content: "";*/
  /*position: absolute;*/
  /*top: 31px;*/
  /*right: 1.5px;*/
  /*width: 61px;*/
  /*height: 1.5px;*/
}

@media only screen and (max-width: 991.98px) {
  .AddressBar {
    width: 85%;
  }
}

@media only screen and (max-width: 767.98px) {
  .AddressBar {
    width: 90%;
    margin: .75rem auto;
  }
}

@media only screen and (max-width: 575.98px) {
  .Tabs {
    font-size: 12px;
  }
}
