.Header .Save {
  cursor: pointer;
  outline: none;
  color: #0d47a1;
  border: 1px solid #0d47a1;
  height: 2rem;
  box-sizing: border-box;
  padding: 0 .75rem;
  font-size: 16px;
}

.Header .Save:hover {
  transition: all .15s ease;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(66, 66, 66, .2);
  background-color: #0d47a1;
}

.Show {
  animation: showSave .25s ease forwards;
}

@keyframes showSave {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  50% {
    opacity: 1;
    transform: translateX(.125rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.Hide {
  animation: hideSave .25s ease forwards;
}

@keyframes hideSave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 575.98px) {
  .Header {
    height: 2.5rem;
    padding: .5rem;
  }
  
  .Header h4 {
    font-size: 14px;
  }
  
  .Header .Status {
    font-size: 12px;
  }
  
  .Header .Status h6 {
    margin-left: .5rem !important;
  }
}